<ion-view view-title="Login">
  <ion-content class="padding">
    <form ng-submit="login()">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <label class="item">
          <button ui-sref="register" class="button icon-right ion-plus-round">Register</button>
        </label>
      </ion-list>
    </form>
    <div id="social-links">
      <ul>
        <li ng-click="fbLogin()">
              <span class="ifacebook">
                <img src="img/social-icons/facebook.png">
              </span>
          <a href="#" class="afacebook">sign in with facebook</a>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
