<!--<fb:login-button scope="public_profile,email" auto_logout_link="true"></fb:login-button>-->

<ion-view view-title="Login">
  <ion-content class="padding">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <label class="item">
          <button ui-sref="register" class="button icon-right ion-plus-round">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>