<ion-view view-title="My Sales">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      ng-repeat="sale in mysales"
                      type="item-text-wrap" href="#/tab/sales/{{sale.id}}">
                <img ng-src="{{sale.face}}">
                <h2>{{sale.name}}</h2>
                <p>{{sale.details}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(sale)">
                    remove
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
